.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
src/player.exe
src/board.exe
src/menu.exe
src/n.cpp
src/l.cpp
m.cpp
src/o.cpp
src/r.cpp
n.cpp
app.py
src/CMakeLists.txt
src/sfml-audio-3.dll
src/sfml-audio-d-3.dll
src/sfml-graphics-3.dll
src/sfml-window-d-3.dll
src/sfml-window-3.dll
src/sfml-system-d-3.dll
src/sfml-system-3.dll
src/sfml-network-d-3.dll
src/sfml-network-3.dll
src/sfml-graphics-d-3.dll
src/chess.exe
src/openal32.dll
src/sfml-audio-2.dll
src/sfml-audio-d-2.dll
src/sfml-graphics-2.dll
src/sfml-graphics-d-2.dll
src/sfml-network-2.dll
src/sfml-network-d-2.dll
src/sfml-system-2.dll
src/sfml-system-d-2.dll
src/sfml-window-2.dll
src/sfml-window-d-2.dll
src/*.dll